---
import { Image } from "astro:assets";
import footerLogo from '../assets/footerLogo.svg'
---

<footer class="">
    <div class="container px-6 py-4 mx-auto mt-8">
        <div class="flex flex-col items-center text-center">
            <a href="/" class="text-white">
                <Image src={footerLogo} alt="footerLogo" class="w-28 h-28">
            </a>

            <div class="flex flex-wrap justify-center mt-6 -mx-4">
                <a href="/" class="mx-4 text-white transition-colors duration-300 hover:text-yellow-500 text-xl footerFont" aria-label="Reddit"> Inicio </a>
                
                <a href="/cervezas" class="mx-4 text-white transition-colors duration-300 hover:text-yellow-500 text-xl footerFont" aria-label="Reddit"> Cervezas </a>
                
                <a href="/menu" class="mx-4 text-white transition-colors duration-300 hover:text-yellow-500 text-xl footerFont" aria-label="Reddit"> Menu </a>

                <a href="/contacto" class="mx-4 text-white transition-colors duration-300 hover:text-yellow-500 text-xl footerFont" aria-label="Reddit"> Contacto </a>
            </div>

        </div>

        <hr class="my-6 border-gray-200 md:my-10" />

        <div class="flex flex-col items-center sm:flex-row sm:justify-between">
            <p class="text-sm text-white">© Copyright 2024. Indie Beer Upn.</p>
        </div>
    </div>
</footer>	

<style>
    .footerFont {
        font-weight: 700;
        font-family: 'Anonymous Pro', monospace;
    }
</style>